body{ 

    background-color: bisque;
    font-family: sans-serif;
}

.header{
    text-align: center;
    font-size: 32px;

}
#zegar{
    font-family: 'Courier New', Courier, monospace;
font-size: 70px;
}

.Dzien {
    display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
align-items: flex-start;
align-content: flex-start;
justify-content: center;
width: 100%;
margin-top: 100px;
   
    }
#poniedzialek{
    width: 12%;
    height: 150px;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    background-color: lightgrey;
    float: left;

    
}
#wtorek{
    width: 12%;
    height: 150px;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    background-color: lightgrey;
    float: left;
}
#środa{
    width: 12%;
    height: 150px;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    background-color: lightgrey;
    float: left;
}
#czwartek{
    width: 12%;
    height: 150px;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    background-color: lightgrey;
    float: left;
}
#piatek{
    width: 12%;
    height:150px;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    background-color: lightgrey;
    float: left;
}
#sobota{
    width: 12%;
    height: 150px;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    background-color: lightgrey;
    float: left;
}
#niedziela{
    width: 12%;
    height: 150px;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    background-color: lightgrey;
   float: left 0;
}
